---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "https://fonts.googleapis.com/css?family=Kaushan%20Script";
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* HSL */
$dark-blue: hsla(240, 100%, 11%, 1);
$color-dark-text: hsla(180, 100%, 2%, 1);
$white: hsla(40, 1%, 98%, 1);
$accent-orange: #FE9000;
$accent-blue: #5ADBFF;
$accent-yellow: #FFDD4A;

.site-header {
  background-color: $white;
  border-top:5px solid $accent-blue;
  .site-logo {
    margin-top:-10px;
  }
  .site-nav {
    .page-link {
      color:$dark-blue
    }
  }
}

.wrapper {
  width:1264px;
}

.home {
  width:800px;
}

.post-categories {
  padding-bottom:15px;
}

.signup-for-updates {
  margin:0px;
  padding:24px;
  background-color: $accent-orange;
  background-image: -webkit-linear-gradient( -28deg, $accent-orange 0%, $accent-orange 60%, $accent-yellow 60%, $accent-yellow 60%);
  background-image: linear-gradient( -28deg, $accent-orange 0%, $accent-orange 60%, $accent-yellow 60%, $accent-yellow 60%);
}

.site-footer {
   padding: 5px 0;
}

.page-content-nowrapper {
  flex: 1 0 auto;
}

.card {
  background-color:$white;
  min-width: 300px;
  width:auto;
}