---
layout: default-nowrapper
---

<div class="split-angle-gradient">
  <div class="wrapper">
    <div class="hero">
      <div class="introduction">
        <dl class="definition">
          <dt>
            <p class="syllables">kai·zen pro·gram·mer</p>
            <p class="pronunciation">/ˈkīzən ˈprōˌɡramər/</p>
          </dt>
          <dd>
            <p class="part-of-speech">noun</p>
            <ol>
              <li class="definition-group">
                <p>a software developer who follows a philosophy of continuous improvement of software skills, coding
                  efficiency, etc.</p>
              </li>
            </ol>
          </dd>

        </dl>
      </div>
      <div class="introduction-sidebar">
        What do you need help with?
        <a href=""></a>
      </div>

    </div>
  </div>
</div>
<div class="wrapper">
  <div class="home content-container">
    {{ content }}
  </div>
  <div class="home-sidebar">
    <div class="content-container">
      <a class="twitter-timeline" data-width="342" data-height="700" data-theme="light"
        href="https://twitter.com/zenprogrammers?ref_src=twsrc%5Etfw">Tweets by zenprogrammers</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>